html, body
{
	height:100%;
	width:100%;
}

.site-wrapper
{
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-image:url(images/bg.gif);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#000033;
}

.site-content
{
    content: "";
    background: rgba(0, 0, 0, 0.8);
	width:100%;
	height:100%;
    z-index: 1;
	-webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.9);
	box-shadow: inset 0 0 100px rgba(0,0,0,.9);
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:white;
}

.front-content
{
	margin:0px auto;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.front-content h1
{
	font-size:5em;
}

.btn-white
{
	text-shadow:none;
	border:1px solid white;
	border-radius:6px;
	color:white !important;
	margin:0px 8px;
	background:transparent;
}

.btn-white:hover
{
	background-color:white;
	color:#111111 !important;
}

.client-wrapper
{
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-color:white;
}

.client-content
{
	width:100%;
	height:100%;
	background:transparent;
}

.page-server
{
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.page-server-content
{
	width:100%;
	height:100%;
	-webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.9);
	box-shadow: inset 0 0 100px rgba(0,0,0,.9);
    background: rgba(0, 0, 0, 0.8);
	color:white;
	padding:8px;
}

.serverList, .serverDescription
{
	border:1px solid white;
	border-radius:6px;
}

.serverItem
{
	color:white;
	background:transparent;
	cursor:pointer;
	padding:12px 16px;
	font-size:18px;
}

.serverItem:hover, .serverItem-focused
{
	color:#222222;
	background:white;
}

.serverItem-focused
{
	font-weight:bold;
}

.serverList
{
	position:absolute;
	top:16px;
	left:16px;
	right:16px;
	bottom:256px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom:0px solid transparent;
	padding:0px;
	overflow:auto;
}

.serverDescription
{
	position:absolute;
	bottom:72px;
	height:184px;
	left:16px;
	right:16px;
	background:rgba(255,255,255,1);
	border-top:0px solid transparent;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	color:black;
	padding:12px;
	overflow:auto;
}

.serverInfo
{
	position:absolute;
	left:16px;
	right:16px;
	bottom:0px;
	height:40px;
	padding:0px;
}

#input_name
{
	position:absolute;
	left:0px;
	width:240px;
}

#input_color
{
	position:absolute;
	left:248px;
	width:120px;
}

#input_connection
{
	position:absolute;
	left:376px;
	width: calc(100% - 128px - 120px - 240px - 24px);
}

#btn_connect
{
	position:absolute;
	right:0px;
	width:128px;
}

.page-client
{
	width:100%;
	height:100%;
	background-color:white;
}

.fullheight
{
	height:100%;
}

.fixed-36 > *
{
	height:36px;
	box-sizing:border-box;
}

.animate-05
{
	transition: background-color 0.5s, color 0.5s;
	-webkit-transition: background-color 0.5s, color 0.5s;
}