html, body
{
	height:100%;
	width:100%;
}

input[type="text"]
{
	color:black;
}

::-webkit-input-placeholder
{ /* WebKit browsers */
	font-style:italic;
}

:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
	font-style:italic;
}

::-moz-placeholder
{ /* Mozilla Firefox 19+ */
	font-style:italic;
}

:-ms-input-placeholder
{ /* Internet Explorer 10+ */
	font-style:italic;
}

.site-wrapper
{
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-image:url(images/bg.gif);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#000033;
}

.site-content
{
    content: "";
    background: rgba(0, 0, 0, 0.8);
	width:100%;
	height:100%;
    z-index: 1;
	-webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.9);
	box-shadow: inset 0 0 100px rgba(0,0,0,.9);
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:white;
}

.front-content
{
	margin:0px auto;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.front-content h1
{
	font-size:5em;
}

.btn-white
{
	text-shadow:none;
	border:1px solid white;
	border-radius:6px;
	color:white !important;
	margin:0px 8px;
	background:transparent;
}

.btn-white:hover
{
	background-color:white;
	color:#111111 !important;
}

.client-wrapper
{
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-color:black;
}

.client-content
{
	width:100%;
	height:100%;
	background:transparent;
}

.page-server
{
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#333333;
}

.page-server-content
{
	width:100%;
	height:100%;
	-webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.9);
	box-shadow: inset 0 0 100px rgba(0,0,0,.9);
    background: rgba(0, 0, 0, 0.8);
	color:white;
	padding:0px;
}

.serverList, .serverDescription
{
	border:1px solid white;
	border-radius:6px;
}

.serverItem
{
	color:white;
	background:transparent;
	cursor:pointer;
	padding:12px 16px;
	font-size:18px;
}

.serverItem:hover, .serverItem-focused
{
	color:#222222;
	background:white;
}

.serverItem-focused
{
	font-weight:bold;
}

.serverList
{
	position:absolute;
	top:16px;
	left:16px;
	right:16px;
	bottom:256px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom:0px solid transparent;
	padding:0px;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
}

.serverDescription
{
	position:absolute;
	bottom:72px;
	height:184px;
	left:16px;
	right:16px;
	background:rgba(255,255,255,1);
	border-top:0px solid transparent;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	color:black;
	padding:12px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

.serverInfo
{
	position:absolute;
	left:16px;
	right:16px;
	bottom:0px;
	height:40px;
	padding:0px;
}

#input_name
{
	position:absolute;
	left:0px;
	width:240px;
}

#input_color
{
	position:absolute;
	left:248px;
	width:120px;
}

#input_connection
{
	position:absolute;
	left:376px;
	width:-moz-calc(100% - 512px);
    width:-webkit-calc(100% - 512px);
    width:-o-calc(100% - 512px);
    width:calc(100% - 512px);
}

#btn_connect
{
	position:absolute;
	right:0px;
	width:128px;
}

.page-client
{
	width:100%;
	height:100%;
	background-color:#333333;
}

#sidePane
{
	position:absolute;
	top:16px;
	right:16px;
	bottom:16px;
	width:256px;
	margin:0;
}

#mainPane
{
	position:absolute;
	right:280px;
	left:16px;
	top:16px;
	bottom:16px;
	color:black;
	margin:0;
}

.chat-server
{
	color:gold;
}

.chat-script
{
	color:#318739;
}

.chat-welcome
{
	color:blue;
}

.chat-action
{
	color:#FF00FF;
}

.chat-border
{
	color:#318739;
}

#channel-list
{
	list-style:none;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	position:absolute;
	top:40px;
	left:0px;
	right:0px;
	bottom:0px;
	box-sizing:border-box;
	padding:0px;
	margin:0px;
}

.channel-list-item
{
	padding:4px 8px;
	border-bottom:1px solid #EEEEEE;
	cursor:pointer;
}

.channel-list-item:hover
{
	background:#DDDDFF;
}

#channel-notify
{
	float:right;
	padding:4px 12px;
	cursor:pointer;
}

#channel-notify::after
{
	content:" new";
}

.channel-selector
{
	box-sizing:border-box;
	width:100%;
	border-bottom:1px solid #aaaaaa;
	padding:8px 8px;
	background-color:white;
	cursor:pointer;
	display:block;
}

.channel-selector-notify
{
	color:#5555FF;
}

.channel-selector-remove:hover
{
	color:#FF3333;
}

.channel-selector:hover
{
	background-color:#5555FF;
	color:white;
}

.channel-selector-container
{
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	max-height:256px;
	width:256px;
	padding:0;
	list-style:none;
	position:absolute;
	border:1px solid #555555;
	border-radius:6px;
	right:264px;
	top:52px;
}

.channel-chat
{
	padding:0;
	position:absolute;
	top:40px;
	left:0px;
	right:0px;
	bottom:0px;
}

.channel-chat-chat
{
	position:absolute;
	top:8px;
	right:8px;
	bottom:48px;
	left:200px;
	border:1px solid #aaaaaa;
	border-radius:4px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	box-sizing:border-box;
	padding:4px;
	word-wrap:break-word;
}

.channel-chat-chat > span:last-of-type
{
	padding-bottom:8px;
}

.channel-chat-input
{
	position:absolute;
	left:200px;
	bottom:8px;
	height:32px;
	width:-moz-calc(100% - 280px);
    width:-webkit-calc(100% - 280px);
    width:-o-calc(100% - 280px);
    width:calc(100% - 280px);
	box-sizing:border-box;
}

.channel-chat-send
{
	position:absolute;
	right:8px;
	bottom:8px;
	width:64px;
	height:32px;
	box-sizing:border-box;
}

.channel-chat-players
{
	position:absolute;
	left:0px;
	width:192px;
	bottom:0px;
	top:0px;
	border-right:1px solid #aaaaaa;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	list-style:none;
	box-sizing:border-box;
	margin:0;
	padding:0;
	padding-top:8px;
}

.channel-chat-players .channel-player-item
{
	padding:0px 8px;
}

.channel-chat-players .channel-player-item:last-child
{
	padding-bottom:8px;
}

.fullheight
{
	height:100%;
}

.fullwidth
{
	width:100%;
}

.right-aligned
{
	float:right;
}

.fixed-36 > *
{
	height:36px;
	box-sizing:border-box;
}

.animate-05
{
	transition: background-color 0.5s, color 0.5s;
	-webkit-transition: background-color 0.5s, color 0.5s;
}